/*csshint-disable*/

@keyframes rotation {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes invert {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}

.wrap-pull {
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.items {
    background-color: white;
    position: relative;
    z-index: 1;
}

.pullDown,
.pullUp {
    /* margin-top: 2px; */
    height: 0;
    overflow: hidden;
}

.pullUp {
    height: 52px;
    /* margin-top: 10px; */
}

.pullDown span,
.pullUp span {
    display: block;
    text-align: center;
    height: 26px;
    line-height: 26px;
	color: #666;
	font-size: 12px;
}

.pullDown .icon {
    background: url("down.png") no-repeat 0 0;
    background-size: 26px auto;
    width: 26px;
    margin: 2px auto 0;
}

.pullUp .icon {
    background: url("up.png") no-repeat 0 0;
    background-size: 26px auto;
    width: 26px;
    margin: 2px auto 0;
}

.flip .icon {
    -webkit-transform: rotate(180deg);
    -webkit-animation: invert 0.2s linear 1;
    animation: invert 0.2s linear 1;
}

.loading .icon {
    background: url('loading.png') no-repeat 0 0;
    background-size: 26px auto;
    -webkit-animation: rotation 0.7s linear infinite;
}

.ok .icon {
    background: url('ok.png') no-repeat 0 0;
    background-position: 0 0px;
    background-size: 26px auto;
}
